<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view  subject allocated</title>
    <link rel="stylesheet" href="../admin/style.css">
</head>
<body>
    <div class="cont">
    <table class="table">
        <tr>
            <th>staff</th>
            <th>subject allocated</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
    
</body>
</html>