<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STAFF</title>
    <link rel="stylesheet" href="../admin/style.css">
</head>
<body>
    <form action="" class="aleena">
        <h1>STAFF</h1>
       <div> <input type="text" placeholder="enter students name"></div>
       <div> <input type="number" placeholder="phone no"></div>
       <div> <input type="text" placeholder="DOB"></div>
       <div> <input type="email" placeholder="email"></div>
       <div> 
        <select name="" id="">
            <option value="">feddf</option>
            <option value="">feddf</option>
            <option value="">feddf</option>
            <option value="">feddf</option>
        </select>
       </div>
       <div> <button type="submit">update</button></div>

    </form>
</body>
</html>