.govt{
    background-image:url('https://img.freepik.com/premium-photo/beautiful-architecture-king-s-college-chapel-cambridge-uk_1339-135072.jpg?w=900');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    height: 100vh;
    backdrop-filter: blur(10px);
}    
.aleena{
    background-color:rgba(255, 255, 255, 0.504);
    width: 500px;
    padding: 90px;
    border-radius:  25px;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.537);
    position: absolute;
    bottom: 80px;
}

input, select, textarea{
    width: 100%;
    margin-top: 20px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
}
h1{
    text-align: center;
    font-size: 25px;
}

button{
    width: 107%;
    margin-top: 30px;
    padding: 8px;
    border-radius: 15;
    border: 1px solid black;
    background-color: transparent;
    transition: 0.3s;
}

button:hover{
    background-color: white;
}

/* th,td{
    border: 1px solid black;
    padding: 15px;
    text-align: center;
} */

.tabl{
    border-collapse: collapse;
    width: 700px;
    margin-bottom: 180px;
    position: relative;
}

.edit{
    color: white;
    background-color: black;
    padding: 5px;
    transition: 0.3s;
}
.edit:hover{
    color: black;
    background-color: white;
}

.delete{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 5px;
    transition: 0.3s;
}

.delete:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.add{
    padding: 10px;
    text-decoration: none;
    background-color: black;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    position: absolute;
    top: 150px;}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont{
    width: 100vw;
    background-image:url('https://img.freepik.com/free-photo/abstract-blur-defocused-bookshelf-library_1203-9635.jpg?t=st=1735798868~exp=1735802468~hmac=a8f0c1ad7585363017283acdd91d1079ec99334e1fdad21af3d7863b00a21a72&w=900');
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content:center ;
    padding: 80px;
    height: 200vh;
    align-items: center;
    position: relative;
}


.container {
    margin-top: 50px;
    width: 50%;
    margin: auto;
    overflow: hidden;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.h1 {
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
}
.label {
    margin: 10px 0 5px;
}
.input, .select {
    padding: 10px;
    margin: 5px 0 15px;
}
.button {
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
.button:hover {
    background: #555;
}