{% extends 'hod/base.html' %}

{% block body %}



    <div class="container">
        <h1 class="h1">Subject Form</h1>
        <form method="post" class="form">
            <label class="label" for="subject">Subject</label>
            <input class="input" type="text" name="subject">
            
           
            
            <label class="label" for="department">Department</label>
            <select class="select" id="department" name="DEPARTMENT">
                {%for i in obj1 %}

                <option value="{{ i.id }}">{{i.department_name}}</option>

                {%endfor%}
                <!-- Options will be dynamically populated -->
            </select>

           

            <button type="submit" class="button">Submit</button>
        </form>
    </div>


    {% endblock %}
