{% extends 'hod/base.html' %}

{% block body %}



  <!-- Main content (cards and other sections) -->
    <div class="ca">
      <div class="car"> <a href="/subject"><div class="blah"><i class="fa-solid fa-user-tie icon" style="color: #fcfcfc; font-size: 50px;"></i></div><center><p class="cent">SUBJECTS</p></center></a></div>
      <div class="car"><a href="approve"><div class="top"><div class="blah"><i class="fa-solid fa-user-large" style="color: #f5f7fa; font-size: 50px;"></i></div></div><center><p>DAILY LEAVE</p></center></a></div>
      <div class="car"><a href="attendence"><div class="top"><div class="blah"><i class="fa-solid fa-users" style="color: #fafcff; font-size: 50px;"></i></div></div> <center><p align="center">ATTENDENCE</p></center></a></div>
      <div class="car"><a href="subjectallocated"><div class="top"><div class="blah"><i class="fa-solid fa-users" style="color: #fafcff; font-size: 50px;"></i></div></div> <center><p align="center">SUBJECT ALLOCATION</p></center></a></div>
    </div>
  </main>

  
  {% endblock %}