<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manage subject allocation</title>
    <link rel="stylesheet" href="../admin/style.css">
</head>
<body>
    <div class="cont">
    <table class="table">
        <tr>
            <th>subjects</th>
            <th>staff</th>
            <th>manage</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <a href="#">save</a><br>
                <a href="#">edit</a>
            </td>
        </tr>
    </table>
    
</body>
</html>