<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>manage subject allocation</title>
    <link rel="stylesheet" href="../admin/style.css">
</head>
<body>
    <div class="cont">
    <table class="table">
        <tr>
            <th>subjects</th>
        </tr>
        <tr>
{%for i in obj1%}
            <td>{{i.subject}}</td>

            <td>
                {%endfor%}
                <a href="viewstaff">Assign</a>
            </td>
        </tr>
    </table>
    
</body>
</html>