{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>department</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="cont">
    <form action="" class="aleena" method="post">
        <h1>Department</h1>
       <div> <input type="text" placeholder="department_name" name="department_name" value="{{c.department_name}}"></div>
       <div> <button type="submit">edit</button></div>

    </form>
</body>
</html>