<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form action="" class="aleena">
        <h1>STUDENTS</h1>
       <div> <input type="text" placeholder="enter students name"></div>
       <div> <input type="number" placeholder="phone no"></div>
       <div> <input type="text" placeholder="roll no"></div>
       <div> <input type="email" placeholder="email"></div>
       <div> 
        <select name="" id="">
            <option value="">feddf</option>
            <option value="">feddf</option>
            <option value="">feddf</option>
            <option value="">feddf</option>
        </select>
       </div>
       <div> <button type="submit">edit</button></div>

    </form>
</body>
</html>