{% load static %}

 
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="cont">
    <form action="" class="aleena" method="post">
        <input type="text" placeholder="username" value="{{i.STUDENT_ID.First_name}}">
        <input type="text" placeholder="complaint" value="{{i.complaint}}">
        <textarea name="reply" id="" placeholder="Reply"></textarea>
        <button type="submit">send</button>
    </form>
</body>
</html>